* {
    margin: 0;
    padding: 0;
}




/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.gallery {
    margin-top: 40px;
  }
  
  .gallery .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .gallery .gallery-item img {
    transition: 0.3s;
  }
  
  .gallery .gallery-links {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.6);
    z-index: 3;
  }
  
  .gallery .gallery-links .preview-link,
  .gallery .gallery-links .details-link {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    line-height: 1.2;
    margin: 30px 8px 0 8px;
  }
  
  .gallery .gallery-links .preview-link:hover,
  .gallery .gallery-links .details-link:hover {
    color: #fff;
  }
  
  .gallery .gallery-links .details-link {
    font-size: 30px;
    line-height: 0;
  }
  
  .gallery .gallery-item:hover .gallery-links {
    opacity: 1;
  }
  
  .gallery .gallery-item:hover .preview-link,
  .gallery .gallery-item:hover .details-link {
    margin-top: 0;
  }
  
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  .glightbox-clean .gslide-description {
    background: #222425;
  }
  
  .glightbox-clean .gslide-title {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
  }
  






/* Estilo Mio CSS */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter Tight', sans-serif;
}



/* SECCIONES */


header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    width: 100%;
    padding: 8px 1% 0px;
    background: linear-gradient(aliceblue,   rgb(154, 178, 200));
    position: fixed;
    z-index: 1;
}

nav {
    height: auto;
    z-index: 3;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:  200px 5%  20px ;
}


footer {
    border-top: 1px rgba(0, 0, 0, 0.166) solid;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 80px 0px 0px;
}


/* SUBSECCIONES */

.ListaMenu {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.Descript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1% 5%;
    width: auto
}

.DescriptSt {
    text-align: center;
    padding: 2%;
    margin: 0px 15vw;
}

.CardVestidos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0px 50px;
    box-sizing: border-box;
}

.CardVestidosInside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.contacto {
    background-color: aliceblue;
    display: flex;
    box-sizing: content-box;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center
}


/* TEXTOS */



.Encabezado{
    text-align: center;
    font-size: 50px;
    font-family: 'Beau Rivage';
    font-weight: lighter;
}

.Introduccion{
    margin: 8% 10% 8%;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 25px;
    font-weight: 100
}


/* Inicio NAV */

.Inicio15años{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:aliceblue;
    border-radius: 20px;
    width: 80%;
    margin: 1% 10% 0%;
    padding: 2%;
}

.ContenedorCards p{
  padding: 15px;
}





/* IMAGENES-FOTOS */

.LogoHead {
    padding: 0px 0px 8px;
    width: 120px;
}

.ImagenPrincipal {
    height: auto;
    width: auto;
}

.MarceAlone {
    width: 40%
}

.VNovia1{
    height: 100%;
}

.VNovia2,
.VNovia3 {
    height: 50vh;
    margin: 0px 0px 0px 20px;
    padding: 5px 0px
}

.Mapa {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 80px;
    border: 1px white;
    border-radius: 20px;
    /* No aplica el radio a la imagen */
}

/* Seccion de contacto */



.SolicitudEntrevista{
    font-size: 28px;
    color: rgb(93, 0, 255);
    font-weight: bolder;
}

.ListaContacto {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.ListaHorarios {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.ContactoTitle{
    font-size: 22px;
    font-weight: bold;
}

.TextosFooter{
    font-size: 20px;
}


.MainContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 250px 5% 20px;
}




/* Estilos para caja de entrevistas
 */

.CajaComentarios {
    width: 450px;
    border-radius: 20px;
    background-color: rgb(247, 247, 247);
    padding: 20px;
}

.SubtituloSolicitud {
    text-align: center;
}

.FormularioContacto {
    display: block;
    align-items: center;
    justify-items: center;
}

label {
    display: block;
}

input {
    position: relative;
    margin: 10px;
    padding: 8px;
}




/* BOTONES */

.BotonContacto {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: rgb(93, 0, 255);
    border-radius: 10px;
    border-color: white;
}



/* SOBRE MARCELA
 */





/* Eventos */

.TituloEventos{
    margin: 2% 0%;
    padding: 2%;
    background-color: aliceblue;
}

.SubtituloEventos{
    font-size: 28px;
    padding: 2% 0px 0px;
}

.SobreMarce{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.GaleriaDesfMiss{
    display: flex;
    width: 80%;
}

.ImgDesfileMiss{
    padding: 1%;
    width: 40%;
}

.ParrafoDesfileMiss{
    font-size: 20px;
}






/* Medias Queri */

@media (max-width: 768px) {
    .NavList {
visibility: hidden;    }


    .Card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .MarceAlone{
        width: 80%;
    }

    .TextosFooter{
      font-size: 12px;
    }
    .SolicitudEntrevista{
      font-size: 18px;
    }

    .ContactoTitle{
      font-size: 18px;
    }
    .ContenedorCards p{
      font-size: 20px;
    }
    .Descript p {
    font-size: 20px;  
    }
    .Descript h2{
      font-size: 28px;
    }

    .Introduccion{
      font-size: 20px;
    }
}

@media (max-width: 576px){
  .ContenedorCards p{
    font-size: 14px;
  }
  .Descript p {
    font-size: 18px;
  }
  .Introduccion{
    font-size: 14px;
  }
}



/* ANIMACIONES TRANSFORMACIONES Y TRANSICIONES */

.NavList:hover{
    color: solid rgb(43, 107, 226);
    font-size: 22px;
    filter: drop-shadow(20);
    color: rgb(123, 116, 13);
}
