* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 100%;
}

main {
  width: auto;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 152px 0% 20px;
}

.Secciones {
  display: flex;
  flex-direction: column;
  align-content: center;
  grid-area: secciones;
}
.Secciones h5 {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.Secciones ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 2rem;
}

.Horarios {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: horarios;
}
.Horarios ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 2rem;
}
.Horarios h5 {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.Horarios p {
  font-size: 1.2rem;
  font-weight: 500;
}

.Redes {
  display: flex;
  flex-direction: column;
  align-content: center;
  grid-area: redes;
}
.Redes h5 {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.Redes ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-right: 2rem;
  padding-left: 0px;
}
.Redes ul li {
  text-align: end;
}
.Redes .IconoFoot {
  margin-left: 1rem;
}

footer {
  border-top: 1px rgba(0, 0, 0, 0.166) solid;
  background-color: aliceblue;
  height: 100%;
  margin: 80px 0px 0px;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  /*  grid-template-rows: repeat(2, 1fr); */
  grid-template-areas: "secciones horarios redes" "secciones horarios redes";
}

.pie {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-family: "Beau Rivage";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
  transition: 0.4s;
  display: block;
}

header {
  margin-bottom: 1px;
  width: 100%;
  padding: 8px 5% 0px;
  background: linear-gradient(aliceblue, rgb(154, 178, 200));
  position: fixed;
  z-index: 2;
}

.ListaMenu {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ListaMenu ul {
  display: flex;
  flex-direction: row;
  margin: 20PX;
}

.NavList {
  padding: 30px;
  transition: 0.3s;
}

.LogoHead {
  padding: 0px 0px 8px;
  width: 130px;
  transition: all 2s ease-out;
}

.IconoMenu {
  display: none;
}
.IconoMenu img {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

#check {
  display: none;
}

/* INDEX */
.Card {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1% 5%;
  width: auto;
}
.Descript p {
  font-size: 2rem;
}

.ContenedorCardsLucas {
  margin: 0% 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.CardLucas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 28vw;
  padding: 12px;
  border-radius: 15px;
  background: linear-gradient(rgb(154, 178, 200), aliceblue, rgb(154, 178, 200));
}
.CardLucas a {
  background: linear-gradient(rgb(148, 113, 237), rgb(93, 0, 225));
  padding: 12px;
  border-radius: 10px;
  width: 100%;
}

.CardLucasImagen {
  width: auto;
}
.CardLucasImagen img {
  width: 100%;
  border-radius: 15px;
}

.Descripcion p {
  font-size: 1.3rem;
  padding: 15px;
  background: white;
  margin: 15px 0px;
  border-radius: 15px;
  text-align: center;
}

a .Button p {
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
  color: white;
  transition: 0.45s;
}

/* CARD MARCELA */
.Contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.CardMarce {
  position: relative;
  width: fit-content;
  background: #FFFFFF;
  border-radius: 20px;
}
.CardMarce .ContenedorTexto {
  position: absolute;
  width: 58%;
  height: fit-content;
  left: 2vw;
  bottom: 2vw;
  background: rgba(0, 0, 0, 0.51);
  border-radius: 20px;
}
.CardMarce .dos {
  top: 2vw;
  left: 2vw;
  width: 90%;
}
.CardMarce p {
  position: relative;
  font-size: 1.6vw;
  line-height: 1em;
  padding: 1em;
  margin-bottom: 1em;
  color: white;
  text-align: center;
}
.CardMarce img {
  width: 35vw;
  left: 0px;
  top: 0px;
  border-radius: 20px;
}

.Hero {
  width: 100vw;
  height: 44vw;
  margin-bottom: 10rem;
}
.Hero img {
  position: relative;
  width: 100%;
}
.Hero .HeroText {
  position: absolute;
  top: 24vw;
  left: 10vw;
  width: 35vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Playfair Display", serif;
}
.Hero .HeroText h2 {
  font-size: 2.8rem;
  margin-bottom: 1.8vw;
}
.Hero .HeroText p {
  font-size: 1.5vw;
  line-height: 1.5em;
}

.Opacidad {
  width: 100vw;
  height: 44vw;
  background: linear-gradient(90deg, #000000, rgba(255, 255, 255, 0));
  position: relative;
  bottom: 44vw;
  left: 0;
}

.GaleriaItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.GaleriaGrid {
  margin: 0% 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 15px;
  padding: 15px;
  grid-auto-flow: dense;
}

.Encabezado {
  text-align: center;
  font-size: 3.125rem;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
}

.Introduccion {
  margin: 8% 10% 6%;
  text-align: center;
}

b {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

li {
  font-size: 1.25rem;
  list-style-type: none;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  font-weight: 100;
}

.ImagenPrincipal {
  height: auto;
  width: auto;
}

.MarceAlone {
  width: 45vw;
  border-radius: 20px;
}

.VNovia1 {
  height: 100%;
}

.VNovia2 {
  height: 50vh;
  margin: 0px 0px 0px 20px;
  padding: 5px 0px;
}

.VNovia3 {
  height: 50vh;
  margin: 0px 0px 0px 20px;
  padding: 5px 0px;
}

.Mapa {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 25px;
  border: 1px white;
  border-radius: 20px;
}

.ListaContacto {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.ListaHorarios {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ContactoTitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.TextosFooter {
  font-size: 20px;
}

.MainContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 250px 5% 20px;
}

.IconoFoot {
  width: 30px;
}

.CajaComentarios {
  width: auto;
  border-radius: 20px;
  background-color: rgb(247, 247, 247);
  padding: 20px;
}

.SubtituloSolicitud {
  text-align: center;
}

.FormularioContacto {
  display: block;
  align-items: center;
  justify-items: center;
}

label {
  display: block;
}

input {
  position: relative;
  margin: 10px;
  padding: 8px;
}

.BotonContacto {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: rgb(93, 0, 255);
  border-radius: 10px;
  border-color: white;
}

.TituloEventos {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(160, 127, 27, 0.6784313725), -2px -2px 5px rgba(160, 127, 27, 0.6784313725);
  margin: 2% 0%;
  padding: 2%;
  background: radial-gradient(rgba(255, 193, 7, 0.6784313725) 150px, transparent 312px);
}

.SubtituloEventos {
  font-size: 1.75rem;
  padding: 2% 0px 0px;
}

.SobreMarce {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ParrafoDesfileMiss {
  font-size: 1.25rem;
}

.carousel {
  width: 100%;
}

.NavList:hover, h1:hover {
  filter: drop-shadow(20);
  color: white;
  text-shadow: 2px 2px 5px rgb(225, 214, 64), -2px -2px 5px rgb(225, 214, 64);
}

.Galeria img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.Galeria a:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: scale(1.02);
}

.GaleriaItem:hover {
  transform: scale(0.98);
}

.CardLucas a:hover {
  transform: scale(0.99);
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25), -1px -1px 3px 3px rgba(0, 0, 0, 0.22);
  filter: grayscale(30%);
}

.LogoHead:hover {
  background: radial-gradient(rgba(247, 247, 247, 0.6784313725) -8px, rgba(255, 193, 7, 0.6784313725) 12px, transparent 64px);
  transform: scale(0.95);
}

@media (max-width: 1128px) {
  .NavList {
    padding: 5px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas: "horarios redes" "secciones secciones";
  }
  .Secciones ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Secciones ul li {
    margin: 5px;
  }
  .Hero .HeroText p {
    font-size: 2vw;
  }
}
@media (max-width: 830px) {
  .Hero .HeroText {
    top: 16.5vw;
  }
  p {
    font-size: 2.2vw;
  }
  main {
    margin: 95px 0% 20px;
  }
  .TituloEventos {
    background: radial-gradient(rgba(255, 193, 7, 0.6784313725) 47px, transparent 229px);
  }
  .ContenedorCardsLucas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ContenedorCardsLucas .CardLucas {
    flex-direction: column;
    width: 80vw;
    margin-bottom: 25px;
  }
  .ContenedorCardsLucas .CardLucas img {
    width: 100%;
  }
  h1 {
    display: none;
  }
  .checkbtn {
    display: block;
  }
  .IconoMenu {
    display: none;
    display: block;
    position: fixed;
    top: 32px;
    right: 36px;
    cursor: pointer;
  }
  #check {
    display: none;
  }
  #check:checked ~ ul {
    left: -20PX;
    transition: all 0.25s;
  }
  .ListaMenu ul {
    display: block;
    position: fixed;
    top: 77px;
    left: -110%;
    background: linear-gradient(rgb(154, 178, 200), aliceblue);
    width: 100%;
    height: 100vh;
    right: 0;
  }
  .ListaMenu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .MarceAlone {
    width: 80%;
  }
  html {
    font-size: 80%;
  }
  .MainContacto {
    flex-direction: column;
    align-items: center;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 0.8fr);
    grid-template-areas: "redes" "horarios" "secciones";
  }
  .Redes {
    align-items: center;
  }
  .Secciones ul {
    flex-direction: row;
    align-items: center;
  }
  .Contenedor {
    flex-direction: column;
  }
  .CardMarce {
    border-radius: 5px;
    margin-bottom: 6vw;
  }
  .CardMarce img {
    width: 86vw;
    height: fit-content;
    border-radius: 5px;
  }
  .CardMarce p {
    font-size: 4vw;
    line-height: 1em;
    padding: 1em;
    color: #FFFFFF;
  }
}
@media (max-width: 579px) {
  html {
    font-size: 70%;
  }
  .TituloEventos {
    background: radial-gradient(rgba(255, 193, 7, 0.6784313725) 54px, transparent 127px);
  }
  .Hero .HeroText {
    top: 31vw;
  }
  .Hero .HeroText p {
    display: none;
  }
}
@media (min-width: 600px) {
  .Ancho {
    grid-column: span 2;
  }
  .Alto {
    grid-row: span 2;
  }
  .Especial {
    grid-column: span 3;
  }
}

/*# sourceMappingURL=estilo.css.map */
