.ContenedorCardsLucas {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.CardLucas {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 26vw;
	padding: 20px;
	border-radius: 15px;
	background: linear-gradient(rgb(154, 178, 200),aliceblue, rgb(154, 178, 200));
	transition: 0.45s;
	a {
		background: linear-gradient(rgb(148, 113, 237), rgb(93, 0, 225));
		padding: 12px;
		border-radius: 10px;
		width: 100%;
	}
}
.CardLucasImagen {
	width: auto;
	img {
		width: 100%;
		border-radius: 15px;
	}
}
.descripcion {
	p {
		font-size: 1.3rem;
		padding: 15px;
		background: $background-color_4;
		margin: 15px 0px;
		border-radius: 15px;
		text-align: center;
	}
}
a {
	.Button {
		p {
			font-size: 1.4rem;
			text-align: center;
			margin: 0;
      color: $color_2;
		}
	}
}
