/* INDEX */

.Card {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.Descript {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1% 5%;
	width: auto;
	p{
		font-size: 2rem;
	}
}


.ContenedorCardsLucas {
	padding: 0vw 2vw;
	margin: 0% 2%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.CardLucas {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0vw 1vw;
	padding: 12px;
	border-radius: 15px;
	background: linear-gradient(rgb(154, 178, 200), aliceblue, rgb(154, 178, 200));

	.SubtituloEventos {
		color: $color_2;
        font-size: 2.1rem;
		font-family: $font-family_3;
		height: 4vw;
		width: 100%;
		text-align: center;
		border-radius: 15px;
    }
	.CardLucasImagen {
		width: auto;
	
		img {
			width: 100%;
			height: 100%;
			border-radius: 15px;
		}
	}
	
	.Descripcion {
		
		p {
			font-size: 1.3rem;
			font-weight: 400;
			padding: 15px;
			background: $background-color_4;
			margin: 15px 0px;
			border-radius: 15px;
			text-align: center;
		}
	}
	
}





/* CARD MARCELA */

.Contenedor {

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
}

.CardMarce {
	position: relative;
	width: fit-content;
	background: #FFFFFF;
	border-radius: 20px;
	margin: 0vw 6vw 0.5vw;

	.ContenedorTexto {
		position: absolute;
		width: 58%;
		height: fit-content;
		left: 2vw;
		bottom: 2vw;
		background: rgba(0, 0, 0, 0.51);
		border-radius: 20px;

		
	}

	.dos {
		top: 2vw;
		left: 2vw;
		width: 90%;
	}

	p {
		position: relative;
		font-size: 1.6vw;
		line-height: 1em;
		padding: 1em;
		margin-bottom: 1em;
		color: $color_2;
		text-align: center;

	}

	img {
		width: 35vw;
		left: 0px;
		top: 0px;
		border-radius: 20px;
	}
	
}



