h1{
    font-family: $font-family_2;
    font-size: 3rem;
    text-align: center;
	margin-bottom: 0;
}
header {
	margin-bottom: 1px;
	width: 100%;
	padding: 8px 5% 0px;
	background: linear-gradient(aliceblue, rgb(154, 178, 200));
	position: fixed;
	z-index: 2;
}
.ListaMenu {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	ul {
		display: flex;
		flex-direction: row;
		margin: 20PX;
	}
}
.NavList {
	padding: 30px;
	transition: 0.1s;
}
.IconoMenu {
	img {
		width: 40px;
		height: 40px;
		border-radius: 2px;
	}
	display: none;
}
#check {
	display: none;
}

.Card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.Descript {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1% 5%;
	width: auto;
}
.DescriptSt {
	text-align: center;
	padding: 2%;
	margin: 0px 15vw;
}
.Encabezado {
	text-align: center;
	font-size: 3.125rem;
	font-family: $font-family_1;
	font-weight: lighter;
}
.Introduccion {
	margin: 8% 10% 6%;
	text-align: center;
}
a {
	text-decoration: none;
	color: $color_1;
}
li {
	font-size: 1.25rem;
	list-style-type: none;
	text-decoration: none;
}
h2 {
	font-size: 2.5rem;
	margin: 0px 0px 20px 0px;
}
h3 {
	font-size: 2.5rem;
	text-align: center;
}
p {
	font-size: 1.5rem;
	font-weight: 100;
}
.Inicio15años {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: $background-color_1;
	border-radius: 20px;
	width: 80%;
	margin: 1% 10% 0%;
	padding: 2%;
}
.ContenedorCards {
	p {
		padding: 15px;
	}
}
.LogoHead {
	padding: 0px 0px 8px;
	width: 130px;
}
.ImagenPrincipal {
	height: auto;
	width: auto;
}
.MarceAlone {
	width: 40%;
}
.VNovia1 {
	height: 100%;
}
.VNovia2 {
	height: 50vh;
	margin: 0px 0px 0px 20px;
	padding: 5px 0px;
}
.VNovia3 {
	height: 50vh;
	margin: 0px 0px 0px 20px;
	padding: 5px 0px;
}
.Mapa {
	display: flex;
	flex-direction: column;
	width: auto;
	margin: 25px;
	border: 1px white;
	border-radius: 20px;
}
.ListaContacto {
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.ListaHorarios {
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.ContactoTitle {
	font-size: 1.3rem;
	font-weight: bold;
}
.TextosFooter {
	font-size: 20px;
}
.MainContacto {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 250px 5% 20px;
}
.IconoFoot {
	width: 30px;
}
.CajaComentarios {
	width: auto;
	border-radius: 20px;
	background-color: $background-color_2;
	padding: 20px;
}
.SubtituloSolicitud {
	text-align: center;
}
.FormularioContacto {
	display: block;
	align-items: center;
	justify-items: center;
}
label {
	display: block;
}
input {
	position: relative;
	margin: 10px;
	padding: 8px;
}
.BotonContacto {
	text-transform: uppercase;
	font-weight: bold;
	color: $color_2;
	background-color: $background-color_3;
	border-radius: 10px;
	border-color: $border-color_1;
}
.TituloEventos {
	margin: 2% 0%;
	padding: 2%;
	background-color: $background-color_1;
}
.SubtituloEventos {
	font-size: 1.75rem;
	padding: 2% 0px 0px;
}
.SobreMarce {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
}
.GaleriaDesfMiss {
	display: flex;
	width: 80%;
}
.ImgDesfileMiss {
	padding: 1%;
	width: 40%;
}
.ParrafoDesfileMiss {
	font-size: 1.25rem;
}
