
.Encabezado {
	text-align: center;
	font-size: 3.125rem;
	font-family: $font-family_1;
	font-weight: lighter;
}
.Introduccion {
	margin: 8% 10% 6%;
	text-align: center;
}

b{
	font-weight: 700;
}

a {
	text-decoration: none;
	color: $color_1;
}
li {
	font-size: 1.25rem;
	list-style-type: none;
	text-decoration: none;
}


p {
	font-size: 1.5rem;
	font-weight: 100;
}


.ImagenPrincipal {
	height: auto;
	width: auto;
}
.MarceAlone {
	width: 45vw;
	border-radius: 20px;
}
.VNovia1 {
	height: 100%;
}
.VNovia2 {
	height: 50vh;
	margin: 0px 0px 0px 20px;
	padding: 5px 0px;
}
.VNovia3 {
	height: 50vh;
	margin: 0px 0px 0px 20px;
	padding: 5px 0px;
}
.Mapa {
	display: flex;
	flex-direction: column;
	width: auto;
	margin: 25px;
	border: 1px white;
	border-radius: 20px;
}
.ListaContacto {
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.ListaHorarios {
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.ContactoTitle {
	font-size: 1.3rem;
	font-weight: bold;
}
.TextosFooter {
	font-size: 20px;
}
.MainContacto {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 250px 5% 20px;
}
.IconoFoot {
	width: 30px;
}
.CajaComentarios {
	width: auto;
	border-radius: 20px;
	background-color: $background-color_2;
	padding: 20px;
}
.SubtituloSolicitud {
	text-align: center;
}
.FormularioContacto {
	display: block;
	align-items: center;
	justify-items: center;
}
label {
	display: block;
}
input {
	position: relative;
	margin: 10px;
	padding: 8px;
}
.BotonContacto {
	text-transform: uppercase;
	font-weight: bold;
	color: $color_2;
	background-color: $background-color_3;
	border-radius: 10px;
	border-color: $border-color_1;
}
.TituloEventos {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 5px #a07f1bad, -2px -2px 5px #a07f1bad;
	margin: 2% 0%;
	padding: 2%;
	background: radial-gradient(#ffc107ad 150px, transparent 312px);
}
.SubtituloEventos {
	font-size: 1.75rem;
	padding: 2% 0px 0px;
}
.SobreMarce {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
}

.ParrafoDesfileMiss {
	font-size: 1.25rem;
}

.carousel {
	width: 100%;
}
