@mixin contenido {
    text-align: center;
    font-size: 1.2rem;
    color: $color_1;
    margin: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.Secciones {
    display: flex;
    flex-direction: column;
    align-content: center;

    grid-area: secciones;
    h5 {
        @include contenido;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-right: 2rem;


    }
}

.Horarios {
    height: 50px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-right: 2rem;


    }
    h5 {
        @include contenido;
    }
    p{
        font-size: 1.2rem;
        font-weight: 500;
    }

    grid-area: horarios;
}

.Redes {
    display: flex;
    flex-direction: column;
    align-content: center;

    grid-area: redes;
    

    h5 {
        @include contenido;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-right: 2rem;
        padding-left: 0px;

        li {
            text-align: end;
        }
    }

    .IconoFoot {
        margin-left: 1rem;
    }
}


footer {
    border-top: 1px rgba(0, 0, 0, 0.166) solid;
    background-color: $background-color_1;
    height: 100%;
    margin: 80px 0px 0px;
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
   /*  grid-template-rows: repeat(2, 1fr); */
    grid-template-areas:
        "secciones horarios redes"
        "secciones horarios redes"
        ;
}

.pie{
    display: flex;
    flex-direction: column;

    text-align: center;
}