
* {
    margin: 0;
    padding: 0;
}


body {
	display: flex;
	flex-direction: column;
	font-family: $font-family_1;
	
}
html {
	font-size: 100%;
}

main {
	width: auto;
	flex-wrap: wrap;
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin: 152px 0% 20px;
}
