$color_1: black;
$color_3: rgb(207, 197, 59);
$color_2: white;
$font-family_1: 'Inter Tight', sans-serif;
$font-family_2: 'Beau Rivage';
$background-color_1: aliceblue;
$background-color_2: rgb(247, 247, 247);
$background-color_3: rgb(93, 0, 255);
$border-color_1: white;