$color_1: black;
$color_2: white;
$color_3: rgb(225, 214, 64);
$font-family_1: 'Inter', sans-serif;
$font-family_2: 'Beau Rivage';
$font-family_3: 'Playfair Display', serif;
$background-color_1: aliceblue;
$background-color_2: rgb(247, 247, 247);
$background-color_3: rgb(93, 0, 255);
$background-color_4: white;
$border-color_1: white;


